
@font-face {
  font-family: 'SEGA';
  src: url('SEGA.eot?#iefix') format('embedded-opentype'),  url('SEGA.woff') format('woff'), url('SEGA.ttf')  format('truetype'), url('SEGA.svg#SEGA') format('svg');
  font-weight: normal;
  font-style: normal;
}
