body 
li. {
color:green;
font-size :30px ;
text-align :center ;}


element {
  border: 1px solid black;
  margin: 50px 50px 75px 100px;
  background-color: lightblue;
}

p1{
color:rgb(18, 63, 18);
font-size :30px ;
text-align: center;
margin : 80px
}
body {
    background-color: rgb(158, 238, 158);
  }

h1 {
margin: 80 ;
margin-left :80
font-family : Comic Sans MS ;
font-size :40px ;
color : red;
text-align: center;
  border: 3px solid rgb(100, 20, 20);
}

background-color: grgb(37, 71, 37) 
